@import "packages/bootstrap/bootstrap/less/bootstrap.less";

#topicText {
    width: 450px;
    min-height: 283px;
}

.sidebar-help {
    margin-top: 100px;

}

.preview {
    border: 2px dotted #CCC;
    min-height: 12px;
}