<div class="row answer">
    <div class="span1 side-menu">
        <div class="upvote help" title="This question shows research effort; it is useful and clear (click again to undo)" >&#9650;</div>
        <div class="question_total" data-upvotes="0" data-downvotes="0">..</div>
        <div class="downvote help" title="This question does not show any research effort; it is unclear or not useful (click again to undo)" >&#9660;</div>
    </div>
    <div class="span8">
        {{{text_showdown}}}
    </div>
</div>