<div class="row new-topic">
    <div class="span8">
        <form class="form-horizontal">

            <fieldset>
                <legend>New Topic</legend>
                <div class="control-group">
                    <label class="control-label" for="new-topic-title">Title</label>

                    <div class="controls">
                        <input id="new-topic-title" type="text" name="Title" class="input-xlarge"
                               placeholder="What's the title of the topic? Be specific."/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="topicText">Text</label>
                    <div class="controls">
                        <textarea class="input-xlarge" id="topicText" rows="3" name="topicText"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="topicText">Preview</label>
                    <div class="controls">
                        <div class="preview">
                        </div>
                    </div>
                </div>
                <div class="login-please loggedout row" style="display: none;">
                    <div class="span3 offset3">
                        <a class="login-action" href="#">Please log in</a>
                    </div>
                </div>
                <div class="form-actions" style="display: none;">
                    <button class="btn btn-primary create">Create Topic</button>
                    <button class="btn cancel">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span4">
        <div class="module newuser sidebar-help" id="how-to-format" style="display: block; ">
            <h4>How to Format</h4>
            <p><span class="dingus">►</span> put returns between paragraphs</p>
            <p><span class="dingus">►</span> for linebreak add 2 spaces at end</p>
            <p><span class="dingus">►</span> <i>_italic_</i> or <b>**bold**</b></p>
            <p><span class="dingus">►</span> quote by placing &gt; at start of line</p>
            <p><span class="dingus">►</span> to make links</p>
            <p>&lt;http://foo.com&gt;<br>[foo](http://foo.com)<br>&lt;a href="http://foo.com"&gt;foo&lt;/a&gt;</p>
            <p><span class="dingus">►</span> <a href="http://meta.stackoverflow.com/questions/1777/what-html-tags-are-allowed" target="_blank">basic HTML</a> also allowed</p>
            <p class="ar">
            <a href="/editing-help" target="_edithelp">formatting help »</a><br>
            <a href="/questions/how-to-ask">asking help »</a>
            </p>
        </div>
    </div>
</div>

