<div class="row topic" id="{{_id}}">
    <div class="row">
        <div class="span1">
            <div class="votes">
                <div class="mini-counts">..</div>
                <div>Votes</div>
            </div>
            <div class="answers">
                <div class="mini-counts">..</div>
                <div>Answers</div>
            </div>
            <div class="views">
                <span class="count">{{views}}</span> Views
            </div>
        </div>
        <div class="span7">
            <div class="title">
                <a href="#/topics/{{_id}}/{{slug}}">{{title}}</a>
            </div>
            <p class="small text">
                {{text}}
            </p>
            <div class="who">
                Asked <span class="asked-ago">{{timestamp_formatted}}</span>
                <div class="details">
                    <a href="#/profiles/{{user}}">{{user}}</a>
                    <img src="{{gravatar_url}}" alt="avatar" />

                </div>
            </div>
            <div class="tags">
                <span class="label notice">javascript</span> <span class="label notice">libraries</span> <span class="label">project-x</span> <span class="label">working-group</span>
            </div>
        </div>
    </div>
</div>