<div class="row topic-show">
    <h1>
        <a href="#/topics/{{_id}}/{{slug}}">{{title}}</a>
    </h1>
</div>
<div class="row topic-show">
    <div class="span9 main-section">
        <div class="row question">
            <div class="span1 side-menu">
                <div class="upvote help" title="This question shows research effort; it is useful and clear (click again to undo)" >&#9650;</div>
                <div class="question_total" data-upvotes="0" data-downvotes="0">..</div>
                <div class="downvote help" title="This question does not show any research effort; it is unclear or not useful (click again to undo)" >&#9660;</div>
                <div class="help favorite" title="This is a favorite question (click again to undo)" >&#9734;</div>
            </div>
            <div class="span8">
                <div class="row">
                    <div class="text">
                        {{{text_showdown}}}
                    </div>
                    <div class="tags">
                        {{#if false}}
                        <span class="label notice">javascript</span> <span class="label notice">libraries</span> <span class="label">project-x</span> <span class="label">working-group</span>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        &nbsp;
                        {{#if false}}
                        link | edit | retag | flag
                        {{/if}}
                    </div>
                    <div class="span5">
                        <div class="owner">
                            <div class="asked">
                                Asked &nbsp;<span class="asked-ago">{{timestamp_date_formatted}}</span>
                            </div>
                            <div class="details">
                                <a href="#/profiles/{{user}}">{{user}}</a>
                                <img src="{{gravatar_url}}" alt="avatar" />
                                <div class="reputation {{user_hash}}">0</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="topic-comment-section">
                        <div class="topic-comments">

                        </div>
                        <form style="display: none;">         
                            <div class="span6">
                                <textarea name="comment" rows="4" cols="80"></textarea>
                            </div>
                            <div class="span2">
                                <button class="btn add-comment">Add Comment</button>
                            </div>
                        </form>
                        <a class="comment-link help" title="Ask author for clarification about this post">add comment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row answers-section">
                <h1>Answers</h1>
        </div>
        <div class="answers-section-content">

        </div>
        <div class="row your-answer">
            <form>
                <h3>Your Answer</h3>
                <textarea rows="3" name="your-answer" id="topicText"></textarea>
                <div class="preview"/>
                <button class="btn post-answer">Post Your Answer</button>
            </form>
        </div>
    </div>
    <div class="span3">
        <h5>
            tagged
        </h5>
        <ul class="related unstyled">
            {{#each tag}}
                {{name}}
            {{/each}}
        </ul>
        <div class="meta">
            <div>
                <span class="lbl">Asked</span> <span class="value">{{timestamp_formatted}}</span>
            </div>
            <div>
                <span class="lbl">Viewed</span> <span class="value">{{views}} times</span>
            </div>
            <div>
                <span class="lbl">Active</span> <span class="value">{{active_formatted}}</span>
            </div>
        </div>
    </div>
</div>