<div class="row">
    <div class="span13">
        <div class="row">
            <div class="span13">
                <ul class="breadcrumb">
                    <li>Tags <span class="divider">&gt;</span></li>
                    {{#tags}}
                        <li><a href="#/topics/tagged/{{.}}">{{.}}</a> <span class="divider">|</span></li>
                    {{/tags}}

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span=2">
                <a href="#/topics/new" class="btn success">New Topic</a>
            </div>
            <div class="span10 offset1">
                <ul class="pills topicFilter " data-pills="pills">
                    <li class="active" data-sort="0"><a href="#">Recent</a></li>
                    <li  data-sort="1"><a href="#">Votes</a></li>
                    <li  data-sort="2"><a href="#">Views</a></li>
                    <li  data-sort="3"><a href="#">Undiscussed</a></li>
                    <li  data-sort="4"><a href="#">Unresolved</a></li>
                </ul>
            </div>
        </div>
        <div class="row topics">
        </div>
    </div>
    <div class="span3">
        <h5>
            Related Tags
        </h5>
        <ul class="related unstyled">

        </ul>
        <p>
            <a href="#/tags">all tags &raquo;</a>
        </p>
    </div>
</div>