<div class="row topic-summary">
    <div class="span9">
        <div class="row">
            <div class="span=2">
                <a href="#/topics/new" class="btn btn-success">New Topic</a>
            </div>
            <div class="offset1 span6">
                <ul class="nav nav-pills topicFilter">
                    <li class="active" data-sort="0"><a href="#">Recent</a></li>
                    <li  data-sort="1"><a href="#">Votes</a></li>
                    <li  data-sort="2"><a href="#">Views</a></li>
                    <li  data-sort="3"><a href="#">Undiscussed</a></li>
                    <li  data-sort="4"><a href="#">Unresolved</a></li>
                </ul>
            </div>
        </div>
        <div class="row topics">
        </div>
    </div>
    <div class="span3">
        <div class="welcome-message">
            <h5>Welcome!</h5>
            This is a collaboratively edited question and answer site.
        </div>
        <h5>
            Related Tags
        </h5>
        <ul class="related unstyled">

        </ul>
        <p>
            <a href="#/tags">all tags &raquo;</a>
        </p>
    </div>
</div>